<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeAPI">
          <match url=".*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <defaultDocument>
      <files>
        <add value="index.js" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
